.hero{
}
body{
  height: 100vh;
  max-width: 100vw;
  background:url(main.jpg) rgba(0, 0, 0, 0.1);
  background-size:cover;
  background-repeat: no-repeat;
  overflow: hidden;

}
header ul{
  margin: 0;
  padding: 0;
}
header ul li{
  display: inline-block;
}
